<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="4.0">
  <display-name>AnalitIQ</display-name>
  <session-config><session-timeout>20</session-timeout><cookie-config><http-only>true</http-only></cookie-config><tracking-mode>COOKIE</tracking-mode></session-config>
  <welcome-file-list><welcome-file>deudas</welcome-file></welcome-file-list>
  <jsp-config><jsp-property-group><url-pattern>*.jsp</url-pattern><url-pattern>*.jspf</url-pattern><page-encoding>UTF-8</page-encoding></jsp-property-group></jsp-config>
  <error-page><error-code>404</error-code><location>/WEB-INF/views/error.jsp</location></error-page>
  <error-page><error-code>500</error-code><location>/WEB-INF/views/error.jsp</location></error-page>
</web-app>
